<!-- TODO: Remove --><!doctype html>
<html>
  <head>
    <meta charset="utf-8" />

    <style>
      .shapeDemo {
        min-height: 200px;
        width: 100%;
      }

      svg .purpleCircle {
        fill: darkmagenta;
        stroke: black;
        stroke-width: 5;
      }

      svg .greenRectangle {
        fill: green;
        stroke: black;
        stroke-width: 5;
      }

      svg .redRectangle {
        fill: red;
        stroke: black;
        stroke-width: 5;
      }
    </style>
  </head>
  <body>
    <p>Responsive SVG sandbox</p>
    <svg class="shapeDemo" viewBox="0 0 600 400">
      <circle cx="75%" cy="10%" r="2.5%" class="purpleCircle"></circle>
      <circle cx="25%" cy="10%" r="1%" class="purpleCircle"></circle>
      <circle cx="50%" cy="22%" r="5%" class="purpleCircle"></circle>

      <rect x="20%" y="30%" width="10%" height="5%" class="redRectangle"></rect>

      <rect
        x="45%"
        y="55%"
        width="10%"
        height="5%"
        rx="10"
        ry="10"
        class="greenRectangle"></rect>

      <ellipse cx="80%" cy="70%" rx="10%" ry="5%"></ellipse>

      <polygon points="100,0 50,50 150,50"></polygon>
    </svg>
  </body>
</html>
